.thumbnail {
  border-radius: 10px;
  width: 90%;
  margin-left: 14px;
  display: flex;
}

.video_card {
  border: 1px grey solid;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  line-height: 2;
  padding: 12px;
  display: flex;
  justify-content: center;
}
