.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  z-index: 100;
  top: 0;
}
.darkMode {
  background-color: #282828;
}
.default {
  background-color: #fff;
}
.header__logo {
  height: 80px;
  width: 110px;
  object-fit: contain;
  /* opacity: 50%; */
}

.header__leftside {
  display: flex;
}

.header__rightside {
  display: flex;
  margin-right: 1rem;
}

.header__rightside a {
  text-decoration: none;
  color: black;
}

.menuIcon {
  margin-right: 0.5rem;
  margin-top: 1.1rem;
}
