.header__searchBar {
  display: flex;
  align-items: center;
  width: 30%;
}

.header__searchBar input {
  border: none;
  margin-left: 5px;
  flex: 1;
  padding: 4px;
}

.form {
  display: flex;
  align-items: center;
  border: 1px solid rgb(86, 80, 80);
  border-radius: 22px;
  background-color: white;
  transform: scale(1.1);
}

.form__button {
  border: none;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  margin-right: 0px;
}

.form__button:hover {
  cursor: pointer;
  background-color: rgb(227, 216, 216);
  transform: scale(1.2);
  height: 110%;
}
