.sidebar {
  flex: 0.2;
  height: 800px;
  position: sticky;
  width: 80%;
  margin-right: 35px;
  padding: 5px;
  line-height: 3;
  border-radius: 13px;
}

.sidebar__link a {
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.sidebar__link:hover {
  background-color: rgb(211, 200, 200);
}
.sidebar__link span:hover {
  color: black;
}
.sidebar__link:active {
  background-color: rgb(217, 210, 210);
}
