.youtube {
  display: flex;
  justify-content: center;
  background-color: black;
}

.videoClicked {
  line-height: 2;
}

.descrip {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.video_dets {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.p_em {
  color: red;
}

.likebutton {
  background: none;
  border: none;
  color: rgb(195, 56, 56);
  padding: 5px;
  margin-left: 3px;
}

.likebutton:hover {
  transform: scale(1.3);
  cursor: pointer;
  background-color: rgb(235, 183, 183);
  border-radius: 50%;
}

.dislikebutton {
  background: none;
  border: none;
  color: rgb(17, 5, 5);
  text-shadow: 1px 1px white;
  padding: 5px;
  margin-left: 3px;
}

.dislikebutton:hover {
  transform: scale(1.3);
  cursor: pointer;
  background-color: rgb(235, 183, 183);
  border-radius: 50%;
}
