.youtube {
  display: flex;
  justify-content: center;
  background-color: black;
}

.videoClicked {
  line-height: 2;
}

.descrip {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}
